Data of US Energy Information Administration

In [2]:
import csv
import numpy as np

data = []

with open(r"D:\Summer-Training\Numpy project STP\MER_T07_02A-2020-02-03.csv",'r') as csvfile:
    file_reader = csv.reader(csvfile, delimiter=',')
    for row in file_reader:
        data.append(row)

data = np.array(data) # convert the list of Lists to a numpy array

In [3]:
# 1. Explore the important attributes like dimension,shape, data type etc, of the array formed above.

print(data.shape)
print(data.ndim)
print(data.dtype)

(8217, 6)
2
<U80

In [15]:
# 2. Print the data contained in the first 10 rows of the 4th column.

print(data[:11,3])

['Column_Order' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1']

In [16]:
# 3. Which row serves as the headers/titles for all the columns.
print(data[0])

['MSN' 'YYYYMM' 'Value' 'Column_Order' 'Description' 'Unit']

In [17]:
# 4. Print the data contained in column 2 and 3 from row 1 till row 20

print(data[:21,1:3])

[['YYYYMM' 'Value']
 ['194913' '135451.32']
 ['195013' '154519.994']
 ['195113' '185203.657']
 ['195213' '195436.666']
 ['195313' '218846.325']
 ['195413' '239145.966']
 ['195513' '301362.698']
 ['195613' '338503.484']
 ['195713' '346386.207']
 ['195813' '344365.781']
 ['195913' '378424.21']
 ['196013' '403067.357']
 ['196113' '421870.669']
 ['196213' '450249.238']
 ['196313' '493926.719']
 ['196413' '526230.019']
 ['196513' '570925.951']
 ['196613' '613474.8']
 ['196713' '630483.363']
 ['196813' '684904.58']]

In [21]:
# 5. Print the data present in only the first three and the last three rows of all the columns in a single output.
print(data[4:-3])

[['CLETPUS' '195213' '195436.666' '1'
  'Electricity Net Generation From Coal, All Sectors'
  'Million Kilowatthours']
 ['CLETPUS' '195313' '218846.325' '1'
  'Electricity Net Generation From Coal, All Sectors'
  'Million Kilowatthours']
 ['CLETPUS' '195413' '239145.966' '1'
  'Electricity Net Generation From Coal, All Sectors'
  'Million Kilowatthours']
 ...
 ['ELETPUS' '201905' '328366.669' '13'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']
 ['ELETPUS' '201906' '351342.905' '13'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']
 ['ELETPUS' '201907' '411583.828' '13'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']]

In [23]:
# 6. Sort the data on the basis of net amount of electricity generated irrespective of the source.
data2=data
print(data2)

TypeError: an integer is required (got type str)